name: Adding Data

on:
  schedule:
    - cron: '0 15 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Git config
        run: |
          git config --global user.email "narendranishad59@gmail.com"
          git config --global user.name "nkrider7"

      - name: Commit and push
        run: |
          git commit --allow-empty -m "Oops a commit $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push

